/* reset styles */
* {
    margin: 0px;
    padding: 0px;
}

/* make the background of the page black */
body {
    background: black;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

/* flag canvas */
#canvas {
    width: 500px;
    height: 300px;
    position: relative;
    background: white;
}

/* shapes */
#rectangle {
    width: 500px;
    height: 150px;
    background: red;
    position: absolute;



}